<p-menubar>

  <ng-template pTemplate="start">
    <span class="text-xl font-bold">UAF Pilot</span>
  </ng-template>

  <ng-template pTemplate="end">
    <p-button type="button" icon="pi pi-cog" (onClick)="navigateToSettings()" styleClass="p-button-text mr-2"
      pTooltip="Settings">
    </p-button>

    <p-button type="button" [icon]="themeIcon" (onClick)="toggleTheme()" styleClass="p-button-text mr-2"
      pTooltip="Toggle Theme">
    </p-button>

    <p-button type="button" icon="pi pi-sign-out" (onClick)="logout()" styleClass="p-button-text" pTooltip="Logout">
    </p-button>
  </ng-template>
</p-menubar>
