<p-menubar>
  <ng-template pTemplate="start">
    <span class="text-xl font-bold">UAF Pilot</span>
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton type="button" pTooltip="Settings" icon="pi pi-cog" (click)="navigateToSettings()" class="p-button-text mr-2"></button>
    <button pButton type="button" pTooltip="Toggle Theme" [icon]="themeIcon" (click)="toggleTheme()" class="p-button-text"></button>
    <button pButton type="button" pTooltip="Logout" icon="pi pi-sign-out" (click)="logout()" class="p-button-sm"></button>
  </ng-template>
</p-menubar>
