:host ::ng-deep .p-menubar {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--primary-color), #0d47a1) 1;
  background-color: var(--surface-100);
  color: var(--text-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}