<div class="login-wrapper">
  <div class="theme-toggle">
    <button pButton type="button" pTooltip="Toggle Theme" [icon]="themeIcon" (click)="toggleTheme()"
      class="p-button-text p-button-rounded"></button>
  </div>
  <p-card class="login-card">
    <h2 class="login-title">Login</h2>
    <div class="p-fluid login-form">
      <div class="field">
        <label for="username">Username</label><br />
        <input id="username" type="text" pInputText [(ngModel)]="username" class="input-lg" />
      </div>

      <div class="field">
        <label for="password">Password</label><br />
        <input id="password" type="password" pInputText [(ngModel)]="password" class="input-lg" />
      </div>

      <button pButton type="button" label="Login" class="p-button-primary w-full login-button"
        (click)="login()"></button>
    </div>

  </p-card>
</div>