<form #form="ngForm" (ngSubmit)="login()" novalidate>
  <div class="login-wrapper">
    <div class="theme-toggle">
      <button pButton type="button" pTooltip="Toggle Theme" [icon]="themeIcon" tooltipPosition="top"
        (click)="toggleTheme()" class="p-button-text mr-2">
      </button>
    </div>

    <p-card class="login-card">
      <h2 class="login-title">Login</h2>
      <div class="p-fluid login-form">
        <!-- Username -->
        <div class="field">
          <label for="username">Username</label><br />
          <input id="username" placeholder="Enter your Username" type="text" pInputText [(ngModel)]="username"
            name="username" #usernameModel="ngModel" required class="input-lg w-full" />
        </div>

        <!-- Password -->
        <div class="field relative">
          <label for="password">Password</label><br />
          <input id="password" placeholder="Enter your password" [type]="showPassword ? 'text' : 'password'" pInputText
            [(ngModel)]="password" name="password" #passwordModel="ngModel" required class="input-lg pr-10 w-full" />
          <i *ngIf="password" class="pi" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
            (click)="togglePasswordVisibility()" pTooltip="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
            style="position: absolute; right: 10px; top: 68%; transform: translateY(-50%); cursor: pointer;"></i>
        </div>

        <button pButton type="submit" icon="pi pi-sign-in" pTooltip="Continue"
          class="p-button-primary w-full login-button" [disabled]="form.invalid"></button>
      </div>
    </p-card>
  </div>
</form>
